@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

body {
  font-family: 'Barlow', sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
  height: 100vh;
  /* overflow: hidden;  */
  align-items: center;
  
}

header {
    width: 100%;
    height: 500px;
    /* height: 100vh; */
    background-image: url(../images/bg-pattern-intro.svg), linear-gradient(176deg, #ff8f70 0%, #ff3d54 100%);
    background-size: 200%;
    /* background-size: 373%; */
    background-position: 17% 50%;
    /* background-position: 35% 39%; */
    border-bottom-left-radius: 100px;
    shape-outside: polygon(32px 126px 163px 32px, 293px 127px, 244px 282px 82px 281px);
    margin-bottom: 0;
    
}

.banner {
    display: flex;
    /* justify-content: space-around; */
    padding: 50px;
}

ul {
    display: flex;
    list-style-type: none; 
} 

a {
    color: #fff;
    text-decoration: none;
}

button {
    padding: 9px 25px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.login {
    margin-left: 350px;
}

.login .button-first {
    background-color: hsl(355, 100%, 74%);
    color: white;
}

.login .button-end {
    color: hsl(356, 100%, 66%);
}

.buttons-hero .free {
    background-color: hsl(355, 100%, 74%);
    color: white;
}

.buttons-hero .start {
    color: hsl(356, 100%, 66%);
}

.hero {
    position: relative;
    text-align: center;
    margin: 50px;
    /* top: -200px; */
    color: #fff;
}

.buttons-hero {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

h2 {
    text-align: center;
    padding-top: 70px;
    color: hsl(237, 17%, 21%);
}

.copy {
    display: inline-block;
    margin-left: 50px;
    width: 40%;  
}

.section-two {
    padding-bottom: 100px;
    background-image: url(../images/illustration-editor-desktop.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 120% 20%;
}

.section-two h2 {
    text-align: center;
}

.section-two h2, p {
    color: hsl(207, 13%, 34%);  
}

.overlay {
    float: right;
    width: 500px;
    height: 500px;
    transform: translate(100px, -420px);
} 

.middle-container {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-color: hsl(208, 49%, 24%); 
    background-image: url(../images/bg-pattern-circles.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -20% 160%;
    border-top-right-radius: 100px;
}

.state p, h2 {
    color: #fff;
    margin-left: 50%;
    margin-right: 100px;
}

/* .state h2 {
    margin-left: 42%;
} */

/* .circle {
    width: 400px;
    height: 400px;
    transform: translate(-100px, -320px);
} */
.product {
    width: 40%;
    transform: translateY(-500px);
}

.section-three {
    margin-top: 40px; 
}

footer {
    background-color: hsl(237, 17%, 21%);
    color: #fff;
    width: 100%;
    height: 400px;
}
 


    


/* li, a, button {
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
} */

/* height, bkg-size, position, margin-btm commented below are for mobile screen */

/* ul {
    display: flex;
    list-style-type: none;
    position: relative;
    left: 400px;
    align-items: center;
    margin-top: -88px;  
} */

/* a {
    text-decoration: none;
    color: #fff;
    padding: 15px;  
} */


    
 /* .main {
     /* position: relative; 
     list-style-type: none;
     text-align: center;
     margin: 0;
     padding: 0;
 }   */
 


 /* .item {
     display: inline;
 } */

 

/* .nav_links {
    list-style: none;
    position: relative;
    right: 50px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0;
} */


/* .nav_links li a:hover {
    color: #fff;
} */



/* button:hover {
    background-color: rgba(0, 136, 169, 0.8);
} */

/* .left {
    position: relative;
    left: 60px;
} */






/* .navigation ul {
    display: flex;
    margin-left: 130px;
    
}

.navigation ul li {
    list-style: none;
    position: relative;
    padding: 10px 0;
    transition: 0.5s; */
    /* box-sizing: border-box; 
}

.navigation ul li a {
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
}

.navigation ul li ul {
    position: absolute;
    top: 44px;
    left: 0;
    display: block;
    width: 200px;
    transition: 0.5s;  
    visibility: hidden;
}

.navigation ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

.nav-button {
    display: flex;
    justify-content: flex-end;  
    margin-top: 0;
}



.enter-button {
    display: block;
    text-align: center;
}

.enter-button #startBtn {
    background-color: #fff;
    color: orange;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 15px;
}

.enter-button #learnBtn {
    background-color: orange;
    color: #fff;
    border: none;
}


h1, p {
    text-align: center;
}*/

/* .middle-container {
    padding-top: 320px;
    padding-bottom: 100px;
}

.middle-container h3 {
    text-align: center;
    padding-bottom: 60px;
}

.middle-container h4 {
    display: flex;
    margin: 20px 20px;
    justify-content: left;
} 

.middle-container p {
    display: flex;
    margin: 20px 20px;
    width: 30%;
    justify-content: center;
}  */
