/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body {
    font-family: 'Overpass', sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
    height: 100vh;
  /* overflow: hidden;  */
  /* align-items: center; */
  
}

header {
    width: 100%;
    height: 500px;
    /* height: 100vh; */
    background-image: url(../images/bg-pattern-intro.svg), linear-gradient(176deg, #ff8f70 0%, #ff3d54 100%);
    background-size: 200%;
    /* background-size: 373%; */
    background-position: 17% 50%;
    /* background-position: 35% 39%; */
    border-bottom-left-radius: 100px;
    /* shape-outside: polygon(32px 126px 163px 32px, 293px 127px, 244px 282px 82px 281px); */  
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 20px 20px 10px;
}

.logo {
    /* margin-right: auto; */
    margin-left: 140px;
}

.nav {
    margin: 0 auto 0 60px;
}

.nav ul {
    font-size: 16px;
    display: flex;
    /* justify-content: flex-start; */
    list-style: none;
    /* margin-right: auto; */
}  
.item {
    padding: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding-right: 5px;
}

button {
    padding: 9px 20px;
    background-color: #fff;
    /* border: none; */
    border-radius: 50px;
    cursor: pointer;
    margin: 0 5px;
}

.login {
    float: right;
    padding-right: 100px;
}

.login .button-first {
    /* background-color: hsl(355, 100%, 74%); */
    background-color: rgb(255, 122, 133, 0.0);
    color: white;
    border: none;
    
}

.login .button-end {
    color: hsl(356, 100%, 66%);
    border: none;
}

.buttons-hero {
    /* padding: 0 10px; */
}

.buttons-hero .free {
    background-color: rgb(255, 122, 133, 0.0);
    color: white;
    border: 1px solid #fff;
    
}

.buttons-hero .start {
    color: hsl(356, 100%, 66%);
    border: none;
}

.hero {
    position: relative;
    text-align: center;
    margin: 50px;
    /* top: -200px; */
    color: #fff;
}

.hero h1 {
    padding-top: 30px;
    font-size: 60px;
}

.hero p {
    color: #fff;
    font-size: 16px;
}

.buttons-hero {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

.section-two h2 {
    text-align: center;
    margin: 0 auto;
    /* padding-top: 30px; */
    color: hsl(208, 49%, 24%);
    font-size: 1.6rem;
    font-weight: 600;
}

.copy {
    display: inline-block;
    margin: 60px 0 0 100px;
    width: 40%;  
}

.section-two {
    padding: 100px 0 0 0;
    overflow: hidden;
    /* background-image: url(../images/illustration-editor-desktop.svg);
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: 115%, 20%; */
}

.section-two p {
    color: hsl(207, 13%, 34%);  
    font-weight: 300;
}

.section-two .desktop {
    float: right;
    width: 900px; 
    height: 900px;
    transform: translate(175px, -120px);
    
}  

.middle-container {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-color: hsl(208, 49%, 24%); 
    background-image: url(../images/bg-pattern-circles.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -25% 100%;
    border-top-right-radius: 100px;
}

.middle-container .state p, h2 {
    color: #fff;
    padding-top: 90px;
    margin: 0 100px 0 50%;
    font-size: 40px;
}

.middle-container .state p {
    font-size: 20px;
    padding: 0 60px 0 0;
    margin-right: 200px;
}

.phone {
    height: 140%;
    transform: translate(70px, -325px);
}

.section-three {
    margin-top: 160px; 
    padding-top: 30px;
    color: hsl(208, 49%, 24%);
}

.section-three h2 {
    color: hsl(208, 49%, 24%);
    
}

.section-three p {
    color: hsl(207, 13%, 34%);  
    margin: 10px 250px 0 950px;
}

.laptop {
    height: 40%;
    width: 40%;
    transform: translateY(-500px);
}



#footer {
    background-color: hsl(237, 17%, 21%);
    color: #fff;
    width: 100%;
    height: 400px;
}

footer .logo, .main-footer {
    float: left; 
    padding: 50px 200px 0 50px;
    /* margin: 10px; */
}

.main-footer ul {
    list-style-type: none;
    padding-right: 150px;
}

.main-footer {
    display: flex;
    /* justify-content: space-around; */
}

.product, .company, .connect {
    padding-bottom: 20px;
    font-weight: 600;
}

footer li {
    font-weight: 100;
}




/* ul {
    display: flex;
    list-style-type: none;
    position: relative;
    left: 400px;
    align-items: center;
    margin-top: -88px;  
} */





@media screen and (max-width: 375px) {
    

  }